<li>
  <div class="index-img"><%= link_to cover_image(comic), comic_path(comic) %></div>
  <strong><%= link_to "\"#{comic.name}\"", comic_path(comic) %></strong><br>
  <small>created by<br>
  <strong><%= comic.creators %></strong><br>
  posted by<br>
  <strong><%= comic.user.username %></strong></small>
</li>
