<h1>Latest Updated Comics</h1>
<span class="tr-buttons">
  <%= link_to 'Add Comic', new_comic_path, class: "button radius" %>
</span>

<hr>

<ul class="text-center comic-index small-block-grid-1 medium-block-grid-4 large-block-grid-6">
  <% if @comics.empty? %>
    <li>No comics yet! Make one!</li>
  <% else %>
    <%= render @comics %>
  <%end%>
</ul>

<%= paginate @comics %>
